[submodule "Backend"]
	path = Backend
	url = https://github.com/eiparfenov/MlHack.git
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/Midnight-Knight/digital_breakthrough.git
[submodule "ML"]
	path = ML
	url = https://gitlab.com/Adiutant/ai_inference.git
